<html>
<body>
<a href="{% url 'index' %}">Episode List</a>
{% if episode %}
<h2>{{episode}}</h2>
{% endif %}
<table>
    <thead>
        <tr>
	    <th>Episode</th>
            <th>Line</th>
            <th>webm</th>
            <th>mp4</th>
            <th>gif</th>
	    <th>admin</th>
            <th>Times</th>
        </tr>
    </thead>
    <tbody>
        {% for line in lines %}
	<tr id={{line.id}}>
	    <td><a href="{% url 'episode_lines' line.episode.id %}#{{line.id}}">
	    	S{{line.episode.season}}E{{line.episode.number|stringformat:"02d"}}
	    </a></td>
            <td>{{line.line}}</td>
            {% if line.episode.episode_file %}
            <td><a href="{% url 'create_media' line.id 'webm'%}">[webm]</a></td>
            <td><a href="{% url 'create_media' line.id 'mp4'%}">[mp4]</a></td>
            <td><a href="{% url 'create_media' line.id 'gif'%}">[gif]</a></td>
	    {% else %}
	    <td></td>
	    <td></td>
	    <td></td>
            {% endif %}
	    <td><a href="/admin/subs/sub/{{line.id}}/change/">[admin]</a></td>
	    <td>{{line.start}} - {{line.end}} ({{line.duration}})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
